.logo {width:300px;}
body{ margin: 0; background: #FFFFFF; font-size: 12pt; color: #FFCC22; font-family: 微軟正黑體; }
.headArea {margin:0 auto; width:1000px; overflow:hidden;}
.head-L{ float:left; padding: 10px 0px 0px 0px;}
.head-R{ float:right; padding-top: 70px;}
.headBtnArea{ width:100%; background:#000000; display:table;}
.headBtn{ margin:0 auto; width:1000px; }
.headBtn li{  float:left; position:15px 0px; position:relative;
 padding:15px 0px;}
a.btn1{ padding:15px 30px; border-right:1px #000000 solid;}
a:hover.btn1{ background: #000000; color:FFFF00;}
ul, li{ margin:0; padding:0; list-style:none; }
a{ text-decoration:none; }
.Line { border-left:1px #000000 solid; }
.index-ad { width:100%; height:650px;}
.index-ad img {width:100%; height:auto; border-bottom:2px #2e2e2e solid; }
.index-tab { margin:0 auto; width:1000px; }
.tabtit { padding:20px; text-align:center; }
.tab4s { float:left; margin:5px; width:230px; height:230px; border:1px #2e2e2e solid; z-index:1; position:relative;}
.tab4s img { width:230px; height:230px;}
.tab4s-tit { z-index:2; position:absolute; width:210px; text-align:center; bottom:0; left:0; padding:10px; background:rgba(0,0,0,0.7); color:#FFFFFF;}
.w1000{ margin:0 auto; width:1000px; height:500px; padding:30px 0px; text-align:center;}
a.btn2 { paddgin:15px 30px;background:#2e2e2e; color:#ffffff; border-radius:8px; font-size:14pt;}
a:hover.btn2 {background:#5c5c5c;}
.footerArea { width:100%; background:#000000; box-shadow:0px 0px 10px #000000; height:110px;}
.footer{ margin:0 auto; width:1000px; padding:10px 0px; color:#FFFFFF; line-height:30px; overfloat:hidden;}
.footer-L{ float:left; padding-top:20px;}
.footer-R{ float:right; padding-top:20px;}
.bodyArea{ margin:0 auto; width:1000px; overflow:hidden;}
.body-L{ float:left; width:240px; padding:10px 0px; margin-right:10px; overflow:hidden;}
.body-R{ width:750px; padding:10px 0px; min-height:300px; overflow:hidden;}
.js-tit{ margin-bottom:10px; padding:10px; font-size:14pt; border-bottom:1px #727272 solid;}
.js-btndiv{ margin:10px 0px 30px 0px;}
a.jsbtn { padding:5px 15px; background:#2E2E2E; color:#FFFFFF; border-radius:8px; font-size:14pt; cursor:pointer;}
a:hover.jsbtn{ background:#5c5c5c;}

#animateDiv{ z-index:1; position:fixed; margin-top:-200px; width:500px; height:200px; border-radius:8px; box-shadow:0px 0px 10px #000000; background:#ffffff;}
#animateCls{ padding-top:160px; text-align:center;}

.addCss1{opacity:0.2;}

.tab4s{	float:left; margin:5px; width:230px; height:230px; border:1px #2e2e2e solid; z-index:1; position:relative; background:#000000; overflow:hidden; cursor:pointer;}
.tab4s-txt{ z-index:1; position:absolute; padding:10px; width:210px; bottom:0; left:0; color:#ffffff;}
.tab4s-img{ z-index:2; position:absolute; background:#000000;}
.tab4s-img img{	width:230px; height:230px;}
.tab4s-tit{ z-index:3; position:absolute; width:210px; text-align:center; bottom:0; left:0; padding:10px; background:rgba(0,0,0,0.7); color:#ffffff;}
.tab4s-himg{ z-index:4; position:absolute; left:50%; margin-left:-28px; padding-top:50px;}
.tab4s-himg img{ width:56px; height:56px;}
.tab4s-addHide{ display:none;}
.tab4s-addCSS1{ opacity:0.2;}
.tab4s-addCSS2{ opacity:0.6;}

/* 版頭按鈕列增加移除 CLASS */
.headbtn-fixed { z-index:1000; position:fixed; top:0;left:0; box-shadow:0px 0px 10px #000000; }

/* 網頁置頂 */
#totop { z-index:100; position:fixed; bottom:0; right:0; margin-bottom:150px; margin-right:10px; cursor:pointer; display:none; }

/*子選單*/
.headBtn-items{ z-index:100; position:absolute; top:50px; background:#000000; width:200px; padding:10px; display:none;}
.headBtn-items a{ display:block; padding:10px; background:#000000; color:#ffffff;}
headBtn-items a:hover{ background:e0e0e0; color:#000000;}

/*增加移除class*/
.headbtnTxt1{ color:#ffffff;}
.headbtnTxt2{ color:#ffff00;}


